
header{
    background-color: #0c0c0c;
    color: #fceefc;
    text-align: center;
    
}
.container {
    max-width: 1200px;
    width: 90%;
 
}
.navbar {
    position:absolute;
    background-color:rgb(255, 249, 249);
    width: 100%;
    z-index: 500;
    top: 0%;
    
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.menu-items {
    display: flex;
}
.menu-items li {
    list-style: none;
    padding: 1rem;
}
.menu-items a {
    text-decoration: none;
    color: black;
    font-size: 1.0rem;
    padding: 0.3rem;}
.icone:hover{
        color: black;
        font-size: 1.2rem;
        padding: 0.3rem;
    }
.menu-items a:hover {
        border-bottom: 2px solid rgb(228, 46, 198);
    }
nav{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: rgb(248, 244, 244);
    position: sticky;
    top: 0px;
}
nav img{
    width: 70%;
    height: 70%;
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 10%;
}
nav ul::after{
    content: "";
    display: flex;
    clear: both;
}
nav a{
    display: block; 
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
#li{
    margin-top: 20px;
    font-size: 15px;
}
nav button{
    background-color: #0c0c0c;
    color: white;
    width: 100%;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 850px;
    margin-top: 20px;

}
nav button:hover {
    background-color:  rgb(172, 5, 97);;
}
.product {
    display: flex;
   
    padding: 20px;
}

.product img {
    width: 50%;
    height: 40%;
    object-fit: cover;
}

.product-info {
    margin-left: 20px;
}

.product-info h1 {
    font-family:sans-serif;
    font-size: 35px;
    margin-top:30px ;
    margin-bottom: 25px;
}

.product-info p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}
#langage{
    margin-right: 15px;
    background-color: #fceefc;
    border:solid rgb(172, 5, 97);
    color:rgb(3, 3, 3);
    width: 20%;
}
#quant{
    margin-right: 15px;
    background-color: #fceefc;
    color:rgb(3, 3, 3);
    width: 20%;
    border:solid rgb(172, 5, 97);    
}

.product-info button {
    background-color: #0c0c0c;
    color: white;
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product-info button:hover {
    background-color:  rgb(172, 5, 97);;
}

.description h1{
    font-family:sans-serif;
    font-size: 25px;
    margin-top:30px ;
    margin-bottom: 25px;
    margin-left: 25px;
}
.description p{
  font-family:Arial, Helvetica, sans-serif ;
  text-align: justify;
  margin-left: 35px;
  font-size: 15px;
}
.description h3{
    margin-left: 35px;

}
.img{
    width: 160%;
}